@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Rubik, Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color:blanchedalmond;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  .primary {
    @apply w-full h-full bg-transparent text-slate-900 font-mono outline outline-0 transition-all border text-sm px-3 py-2.5 rounded-[7px]
  }
  .primary:focus {
    @apply outline-0 border-2 border-midorange
  }
  .flex-col-items {
    @apply flex flex-col items-center
  }
  .mid-opaticy-menu-button {
    @apply sm:opacity-100 md:opacity-60 sm:text-midorange md:text-zinc-900
  }
  .mid-opaticy-menu-button:hover {
    @apply md:transition-all md:text-midorange md:opacity-100
  }
}

@font-face {
  font-family: "PoiretOneRegular";
  src: local("PoiretOneRegular"),
    url("./fonts/PoiretOneRegular/PoiretOne-Regular.ttf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
    url("./fonts/Rubik/Rubik-VariableFont_wght.ttf") format("opentype");
}