@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Rubik, Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color:#ffebcd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  .primary {
    @apply w-full h-full bg-transparent text-slate-900 font-mono outline outline-0 transition-all border text-sm px-3 py-2.5 rounded-[7px]
  }
  .primary:focus {
    @apply outline-0 border-2 border-midorange
  }

  .primary-button, .secondary-button {
    @apply font-bold py-2 px-4 rounded transition-all duration-300 ease-in-out mt-3 w-auto h-auto
  }

  .secondary-button {
    @apply w-screen h-20 shadow-md
  }

  .primary-button{
    @apply bg-midorange text-white
  }

  .secondary-button {
    @apply bg-white text-gray-900
  }

  .primary-button:hover {
    @apply bg-[#c74326]
  }

  .secondary-button:hover {
    @apply bg-slate-300
  }

  .primary-button:focus, .secondary-button:focus {
    @apply outline-none ring-2 ring-offset-2
  }

  .primary-button:focus {
    @apply ring-[#DB4A2B]
  }

  .secondary-button:focus {
    @apply bg-slate-400
  }

  .primary-button:active {
    @apply bg-[#b23b21]
  }

  .secondary-button:active {
    @apply bg-slate-500
  }

  .flex-col-items {
    @apply flex flex-col items-center
  }
  .mid-opaticy-menu-button {
    @apply sm:opacity-100 md:opacity-60 sm:text-midorange md:text-zinc-900
  }
  .mid-opaticy-menu-button:hover {
    @apply md:transition-all md:text-midorange md:opacity-100
  }
  .opacity-icon-select-hover {
    @apply sm:w-5 sm:h-5 md:w-8 md:h-8 md:opacity-50
  }
  .opacity-icon-select-hover:hover {
    @apply md:opacity-100 transition-all cursor-pointer
  }
}

@keyframes changeOpacity {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes moveContainerRight {
  from {
    opacity: 0;
    transform: translate3d(30px, 0, 0)
  } to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes moveContainerLeft {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0)
  } to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes moveContainerUp {
  from {
    opacity: 0;
    transform: translate3d(0, 150px, 0)
  } to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@font-face {
  font-family: "PoiretOneRegular";
  src: local("PoiretOneRegular"),
    url("./fonts/PoiretOneRegular/PoiretOne-Regular.ttf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
    url("./fonts/Rubik/Rubik-VariableFont_wght.ttf") format("opentype");
}